.header {
    height: 60px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    padding-right: 140px;
    color: black;
    font-size: larger;
    font-weight: bolder;
}